body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding: 20px;
    background-color: #00b894;
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
    letter-spacing: 2px;
  }
  h2 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: bold;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin-bottom: 10px;
    font-style: italic;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  p {
    line-height: 1.5;
    margin-bottom: 20px;
  }